<highcharts-chart 
  [Highcharts]="Highcharts"

  [constructorType]="chartConstructor"
  [options]="chartOptions"

  style="width: 50%; height: 400px; display: block;"
></highcharts-chart>

<highcharts-chart 
  [Highcharts]="Highcharts"

  [constructorType]="chartConstructor"
  [options]="chartOptions2"

  style="width: 50%; height: 400px; display: block;"
></highcharts-chart>

<highcharts-chart 
  [Highcharts]="Highcharts"

  [constructorType]="chartConstructor"
  [options]="chartOptions3"

  style="width: 50%; height: 400px; display: block;"
></highcharts-chart>
