<div class="main">
  <app-high-charts></app-high-charts>
  <!-- <app-loader></app-loader>
  <div class="header">
    <h3>Weather in {{selectedCity}}</h3>
    <div class="form-group">
      <label for="city">Select City:</label>
      <select name="city" id="city" [(ngModel)]="selectedCity" style="width: 65%;padding: 5px;
      margin-left: 10px;">
        <option value="Bengaluru">Bengaluru</option>
        <option value="Chennai">Chennai</option>
        <option value="Delhi">Delhi</option>
        <option value="Mumbai">Mumbai</option>
      </select>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Charts">
      <app-charts-example></app-charts-example>
    </mat-tab>


    <mat-tab label="Today"> 
      <app-today-weather [city]="selectedCity"></app-today-weather>  
    </mat-tab>
    <mat-tab label="5-Days"> 
      <app-fivedays-weather  [city]="selectedCity"></app-fivedays-weather> 
    </mat-tab>
  
  </mat-tab-group> -->
</div>