.main {
    /* background: aliceblue; */
    height: 100%;
}

.main h3 {
    margin: 0;
}

.header {
    display: flex;
    padding: 1%;
    color: #fff;
}

.form-group {
    margin-left: 20%;
    width: 40%;
}