.wrapper-class {
    background: #fff;
    margin: 1%;
    border-radius: 2%;
}
.panel-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.weather-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.date-info, .weather-description {
    text-transform: capitalize;
}

.panel-header img {
    width: 80px;
}

.temp {
    font-size: xx-large;
}

.temp p {
    text-transform: capitalize;
    font-size: x-large;
}